# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Environment variables
.env
*.env

# Config files
config.py
settings.py

# IDE files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

ichancy_main_hd.py